.main4 {
    .container {
   
      h3 {
       text-align: center;
       background-color: $green-color;
       color: $titulo-color;
       padding: auto;
       margin-top: 40px;
       margin-bottom: 10px;
       font-size: 30px;
      }

      p {
        padding: 30px;
      }
      h4 {
        font-weight: 600;
        color: $green-color;
      }
      
      .text-nos {
        text-align: center;
        text-align: justify;
        padding: auto
        
      }
    }
  }
  